#!/bin/bash

# https://learn.microsoft.com/en-us/azure/openshift/howto-kubeconfig

export SUBSCRIPTION_ID="<SUBSCRIPTION_ID>"
export ARO_RESOURCE_GROUP="<ARO_RESOURCE_GROUP>"
export ARO_NAME="<ARO_NAME>"
export KUBECONFIG_FILE="kubeconfig-${ARO_NAME}"

az aro get-admin-kubeconfig \
  --subscription "${SUBSCRIPTION_ID}" \
  --resource-group "${ARO_RESOURCE_GROUP}" \
  --name "${ARO_NAME}" \
  --file ${KUBECONFIG_FILE}

export KUBECONFIG=${KUBECONFIG_FILE}
oc get nodes

# or
# export ARO_PASSWORD="<ARO_PASSWORD>"
# oc login -u kubeadmin -p ${ARO_PASSWORD} https://api.${AZURE_DOMAIN}:6443